<!DOCTYPE HTML>
<!--     _        _ _
        | |_  ___| | |___
        | ' \/ -_) | / _ \_
        |_||_\___|_|_\___(_)
-->
<head>
  <title>Wave forecasts</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="shortcut icon" type="image/x-icon" href="static/images/favicon-tree.ico" />
  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
  <link href="{{ url_for('static', filename='css/normalize.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/skeleton.css') }}" rel="stylesheet">
  <script src="{{ url_for('static', filename='js/Chart.min.js') }}"></script>
</head>
<body>

  <div class="container" style="padding-top: 10px; padding-right: 20px;">

  <div class="row">
    <h4 style="text-align: center;">Surf forecast {{ meta['area'] or '' }}</h4>
  </div>

  {% if not error %}
  <div class="row">
    <canvas id="myChart" width="400" height="200"></canvas>
  </div>
  {% endif %}

  <div class="row">
    <div class="one-half column">
      <form action="{{ url_for('chart') }}" method="post">
        <label>Enter a coordinate.</label>
        <input type="text" name="coord" placeholder="{{ coord|safe }}">
        <input type="submit">
      </form>
    </div>

    <div class="one-half column">
      {% if not error %}
        <br>Updated: {{ meta['update'] }}
        <br>Data source: <a href="{{ 'https://www.' + meta['source'] }}">{{ meta['source'] }}</a>
        <br>API: <a href="https://surf.vonapp.co/api/spec">surf.vonapp.co/api/spec</a>
      {% else %}
        <br><strong style="color: red;">{{ error }}</strong>
      {% endif %}
    </div>
  </div>

  {% if not error %}
  <script>
  var ctx = document.getElementById("myChart").getContext('2d');
  var myChart = new Chart(ctx, {
      type: 'line',
      data: {
        labels: {{ times|safe }},
        datasets: [
          { label: "Wave hieight (feet)", data: {{ data['wave_height']|safe }},
            borderColor: "rgba(54, 162, 235, 1)", backgroundColor: "rgba(54, 162, 235, 0.2)",
            pointRadius: 0, yAxisID: 'left-y-axis' },
          { label: "Wind speed (knots)", data: {{ data['wind_speed']|safe }},
            borderColor: "rgba(161, 170, 175, 1)", backgroundColor: "rgba(161, 170, 175, 0.2)",
            pointRadius: 0, yAxisID: 'right-y-axis' },
        ]
      },
      options: {
        scales: {
          yAxes: [
            { id: 'left-y-axis', type: 'linear', position: 'left',
              ticks: {beginAtZero: true, max: {{ y_max['wave_height']|safe }}, stepSize: 2 },
              scaleLabel: {display: true, labelString: 'Wave hieight (feet)', fontColor: '#1589d5'} },
            { id: 'right-y-axis', type: 'linear', position: 'right',
              ticks: {beginAtZero: true, max: {{ y_max['wind_speed']|safe }}, stepSize: 5 },
              scaleLabel: {display: true, labelString: 'Wind speed (knots)'} },
          ],
        },
        legend: {display: false},
      }
  });
  </script>
  {% endif %}

</div>
</body>
</html>
