<!DOCTYPE HTML>
<!--     _        _ _
        | |_  ___| | |___
        | ' \/ -_) | / _ \_
        |_||_\___|_|_\___(_)
-->
<head>
  <title>Wave forecasts</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="shortcut icon" type="image/x-icon" href="static/images/favicon-tree.ico" />
  <link href="{{ url_for('static', filename='css/normalize.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/skeleton.css') }}" rel="stylesheet">
  <script src="{{ url_for('static', filename='js/Chart.min.js') }}"></script>
</head>
<body>

  <div class="container" style="padding-top: 10px; padding-right: 20px;">

  <div class="row">
    <h4 style="text-align: center;">Wave forecast {{ meta['area'] or 'unknown' }}</h4>
  </div>

  <div class="row">
    <canvas id="myChart" width="400" height="200"></canvas>
  </div>

  <div class="row">
    <div class="one-half column">
      <form action="{{ url_for('chart') }}" method="post">
        <label>Enter a coordinate.</label>
        <input type="text" name="coord" placeholder="{{ coord|safe }}">
        <input type="submit">
      </form>
    </div>

    <div class="one-half column">
      {% if not error %}
        <br>Updated: {{ meta['update'] }}
        <br>Data source: <a href="{{ 'https://www.' + meta['source'] }}">{{ meta['source'] }}</a>
        <br>API: <a href="https://surf.vonapp.co/api/spec">surf.vonapp.co/api/spec</a>
      {% else %}
        <br><strong style="color: red;">{{ error }}</strong>
      {% endif %}
    </div>
  </div>

  <script>
  var ctx = document.getElementById("myChart").getContext('2d');
  var myChart = new Chart(ctx, {
      type: 'line',
      data: {
        labels: {{ times|safe }},
        datasets: [
          {% for k, v in data.items() %}
              { label: "{{ k|safe }}", data: {{ v|safe }}, borderColor: "{{ borders }}", backgroundColor: "{{ fills }}" },
          {% endfor %}
        ]
      },
      options: {
        scales: { yAxes: [{ ticks: {beginAtZero: true} }] },
      }
  });
  </script>
</div>
</body>
</html>
